################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SelfProject/.vs/SelfProject/v16
/SelfProject/Project.Web/obj
